.header
    %h1 グループを作成しました

#contents
    .side-content
        .side-header
            .side-header-username 
                seo 
            %ul.side-header-usermenu
                %li.list
                = link_to do
                    %i.fa.fa-pencil-square-o.icon
                %li.list
                = link_to do
                    %i.fa.fa-cog.icon
        .groups
            .group 
                .group-name
                    sample
                .group-message
                    Good by world!
                .group-name
                    sample.group
                .group-message
                    hello!
    .main-content
        .main-header
            .main-group-name 
                sample
            .edit
                Edit
            .members 
                Members: seo neko  
        .messages
            .message
                %ul.upper-info
                    %li.group-user
                        seo
                    %li.date
                        2019/04/12 14:57:46
                .text
                    Hello world!
            .message
                %ul.upper-info
                    %li.group-user 
                        neko
                    %li.date 
                        2019/04/12 14:58:46
                .text
                    Good bye world!
        .form
            %form
            .new-message
                .input-box
                    %input{type: 'textarea', placeholder: 'type a message', :class => "input-box__text"}
                    %i.far.fa-image.icon{:class => "image-lable"}
                .input-submit
                %input{type: 'submit', value: 'Send', :class => "input-submit"}

