.header
    %h1 グループを作成しました

#contents
    .side-content
        .side-header
            .main-user 
                seo 
        %ul.settings
            %li.list
            = link_to do
                %i.fas.fa-cog.icon
            %li.list
            = link_to do
                %i.fas.fa-edit.icon
        .groups
            .group 
                sample
            .group-message
                Good by world!
            .group 
                sample.group
            .group-message
                hello!
    .main-content
        .main-header
            .main-group-name 
                sample
            .edit
                Edit
            .members 
                Members: seo neko  
        .messages
            .message
                %ul.upper-info
                    %li.group-user
                        seo
                    %li.date
                        2019/04/12 14:57:46
                .text
                    Hello world!
            .message
                %ul.upper-info
                    %li.group-user 
                        neko
                    %li.date 
                        2019/04/12 14:58:46
                .text
                    Good bye world!
        .form
            %form
            .new-message
                .input-box
                    .input-box__text
                    %input{type: 'textarea', placeholder: 'type a message', :style => "height:50px"}
                        .image-lable
                        %i.far.fa-image.icon{:style => "font-size:20px;"}
                .input-submit
                %input{type: 'submit', value: 'Send', :style => "background-color:#38AEF0;color:white;line-height:50px;"}

