.header
    %h1 グループを作成しました

#contents
    .left-content
        .side-header
            .main-user 
                %p seo 
        .groups
            .group 
                %p sample
            .group-message
                %p Good by world!
            .group 
                %p sample.group
            .group-message
                %p hello!
    .right-content
        .main-header
            .main-group-name 
                %p sample
            .members 
                %p Menbers: seo neko  
        .messages
            .message
                .group-user
                    %p  seo
                .date
                    %p 2019/04/12 14:57:46
                .text
                    %p Hello world!
            .message
                .gruop-user 
                    %p neko
                .date 
                    %p 2019/04/12 14:58:46
                .text
                    %p Good bye world!
