* {
    box-sizing: border-box;
}
.main-content {
    width: calc(100vw - 300px);   
    float: left;
    .main-header {
        height: 100px;
        display: flex;
        border-bottom: 1px solid #eeeeee;
        padding: 0 40px;
        justify-content: space-between;
        &-group {
            font-size: 20px;
            margin-top: 35px;
            }
            &-name {
                font-size: 100%;
                }
            .group-member {
                display: flex;
                margin-top: 15px;
                font-size: 12px;
                color: #999999;
                .member {
                    margin-left: 5px;
                    }
                }   
        .edit {
            border: 1px solid #38AEF0;
            padding: 0 20px;
            margin-top: 30px;
            height: 40px;
            line-height: 40px;
            color: #38AEF0;
            cursor: pointer;
            }
        }
    .messages {
        height: calc(100vh - 190px);
        padding: 46px 40px;
        background-color: #fafafa;
        overflow: scroll;
            .message {
                padding-bottom: 40px;
                .upper-info {
                    display: flex;
                    margin-bottom: 10px;
                    .group-user {
                        font-size: 16px;
                        color: $main-color;
                        font-weight: bold;
                            }
                    .date {
                        font-size: 12px;
                        color: #999999;
                        margin-left: 10px;
                        }
                    }
                    .text {
                        font-size: 14px;
                        color: $main-color;
                        margin-bottom: 10px;
                    }
                }
        }
    .form {
        background-color: #ddd;
        height: 90px;
        padding: 20px 40px;
                .input-box {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    &__text {
                        width: 100%;
                        height: 50px;        
                        padding: 0 40px 0 10px;
                        border-style: none;
                    }
                    .picture {
                        font-size: 1.3rem;
                        position: absolute;
                        top: 15px;
                        right: 130px;
                        cursor: pointer;
                    }
                    .hidden {
                        display: none;
                    }
                }
                .input-submit {
                    background-color: #38AEF0;
                    color: $side-color;
                    width: 100px;
                    height: 50px;
                    padding: 0 30px;
                    margin-left: 15px; 
                    cursor: pointer;
                    }
                }
}
